* {
  /* border: 2px solid red; */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(179, 179, 246, 0.217);

  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;

}

@keyframes test {
  0% {
    border-top: #08a4f3 2px solid;
    border-right: #07f5c9 2px solid;
    border-bottom: #07f45d 2px solid;
    border-left: #08da2f 2px solid;
  }

  25% {
    border-top: #08da2f 2px solid;
    border-right: #08a4f3 2px solid;
    border-bottom: #07f5c9 2px solid;
    border-left: #07f45d 2px solid;
  }

  50% {
    border-top: #07f45d 2px solid;
    border-right: #08da2f 2px solid;
    border-bottom: #08a4f3 2px solid;
    border-left: #07f5c9 2px solid;
  }

  75% {
    border-top: #07f5c9 2px solid;
    border-right: #07f45d 2px solid;
    border-bottom: #08da2f 2px solid;
    border-left: #08a4f3 2px solid;
  }

  100% {
    border-top: #08a4f3 2px solid;
    border-right: #07f5c9 2px solid;
    border-bottom: #07f45d 2px solid;
    border-left: #08da2f 2px solid;
  }
}


form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 50%;

  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px #00000021;
  border-radius: 15px;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    height: 80px;
    width: 80%;


    & input {
      display: flex;
      justify-content: center;
      align-items: center;


      background: rgba(179, 179, 246, 0.217);
      border-radius: 5px;

      height: 2em;
      width: 100%;
    }
  }

  & #submit-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;

    & input {
      cursor: pointer;

      border-image-source: linear-gradient(to bottom, #ff0000, #00ff00);
      border-image-slice: 1;
      border-width: 5px;
      border-style: solid;

      /* border-top-color: blue; */

      /* border-top: #08a4f3 2px solid;
      border-right: #07f5c9 2px solid;
      border-bottom: #07f45d 2px solid;
      border-left: #08da2f 2px solid; */
    }

    & input:hover {
      animation: test 2s linear infinite;
    }

    & input:active {
      transform: scale(0.9);
    }
  }
}

form::after {
  position: absolute;
  content: "";
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: 2px 2px 2px 2px #0000000d;
}