* {
  /* border: 2px solid red; */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(179, 179, 246, 0.217);

  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;

}

@keyframes test {
  0% {

    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  20% {
    border-image-source: linear-gradient(50deg, #08a4f3 0%, #08da2f 100%);
  }

  30% {
    border-image-source: linear-gradient(90deg, #08a4f3 0%, #08da2f 100%);
  }

  40% {
    border-image-source: linear-gradient(130deg, #08a4f3 0%, #08da2f 100%);
  }

  50% {
    border-image-source: linear-gradient(170deg, #08a4f3 0%, #08da2f 100%);
  }

  60% {
    border-image-source: linear-gradient(210deg, #08a4f3 0%, #08da2f 100%);
  }

  70% {
    border-image-source: linear-gradient(250deg, #08a4f3 0%, #08da2f 100%);
  }

  80% {
    border-image-source: linear-gradient(290deg, #08a4f3 0%, #08da2f 100%);
  }

  90% {
    border-image-source: linear-gradient(330deg, #08a4f3 0%, #08da2f 100%);
  }

  100% {
    border-image-source: linear-gradient(370deg, #08a4f3 0%, #08da2f 100%);
  }
}

form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 600px;
  width: 500px;

  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px #00000021;
  border-radius: 15px;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    height: 100px;
    width: 80%;

    & input:not([type="submit"]) {
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(179, 179, 246, 0.217);
      border-radius: 5px;
      border: rgba(128, 128, 128, 0.111) 1px solid;

      padding: 4px;
      height: 60px;
      width: 100%;
    }

    & span {
      font-size: em;
      height: 2em;
      margin: 4px 0 0 0;
    }

    & #password-bar {
      background: rgba(255, 0, 0, 0);
      height: 4px;
      width: 1%;
      margin: 4px 0 4px 0;

      transition: 0.3s;
    }

    & #password-bar.red {
      background: rgb(255, 0, 0);
      width: 20%;
    }

    & #password-bar.blue {

      background: rgb(255, 187, 0);
      width: 40%;
    }

    & #password-bar.green {

      background: green;
      width: 100%;
    }
  }

  & #password-container {
    height: 120px;
  }
}


#submit-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;

  & input {
    cursor: pointer;
    height: 40px;
    width: 80px;

    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
    border-image-slice: 1;
    border-width: 4px;
    animation: test 1.2s linear infinite;

    transition: 0.3s;
  }

  & input:hover {
    outline: none;
    transform: scale(1.2);
  }

  & input:active {
    transform: scale(0.9);
  }
}


form::after {
  position: absolute;
  content: "";
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: 2px 2px 2px 2px #0000000d;
}

#cheat {
  cursor: pointer;
  opacity: 0;
}