* {
  /* border: 2px solid red; */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(179, 179, 246, 0.217);

  height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;

}

@keyframes btnAnim {
  0% {
    background: linear-gradient(rgba(0, 0, 255, 0.543) 5%, transparent 5%, transparent 100%);
  }

  5% {
    background: linear-gradient(transparent 3%, rgba(0, 0, 255, 0.543) 10%, transparent 12%, transparent 100%);
  }

  10% {
    background: linear-gradient(transparent 7%, rgba(0, 0, 255, 0.543) 15%, transparent 17%, transparent 100%);
  }

  15% {
    background: linear-gradient(transparent 13%, rgba(0, 0, 255, 0.543) 20%, transparent 22%, transparent 100%);
  }

  20% {
    background: linear-gradient(transparent 18%, rgba(0, 0, 255, 0.543) 25%, transparent 27%, transparent 100%);
  }

  25% {
    background: linear-gradient(transparent 23%, rgba(0, 0, 255, 0.543) 30%, transparent 32%, transparent 100%);
  }

  30% {
    background: linear-gradient(transparent 28%, rgba(0, 0, 255, 0.543) 35%, transparent 37%, transparent 100%);
  }

  35% {
    background: linear-gradient(transparent 33%, rgba(0, 0, 255, 0.543) 40%, transparent 42%, transparent 100%);
  }

  40% {
    background: linear-gradient(transparent 38%, rgba(0, 0, 255, 0.543) 45%, transparent 47%, transparent 100%);
  }

  45% {
    background: linear-gradient(transparent 43%, rgba(0, 0, 255, 0.543) 50%, transparent 48%, transparent 100%);
  }

  50% {
    background: linear-gradient(transparent 48%, rgba(0, 0, 255, 0.543) 55%, transparent 57%, transparent 100%);
  }

  55% {
    background: linear-gradient(transparent 57%, rgba(0, 0, 255, 0.543) 60%, transparent 62%, transparent 100%);
  }

  60% {
    background: linear-gradient(transparent 58%, rgba(0, 0, 255, 0.543) 65%, transparent 63%, transparent 100%);
  }

  65% {
    background: linear-gradient(transparent 63%, rgba(0, 0, 255, 0.543) 70%, transparent 72%, transparent 100%);
  }

  70% {
    background: linear-gradient(transparent 68%, rgba(0, 0, 255, 0.543) 75%, transparent 77%, transparent 100%);
  }

  75% {
    background: linear-gradient(transparent 73%, rgba(0, 0, 255, 0.543) 80%, transparent 82%, transparent 100%);
  }

  80% {
    background: linear-gradient(transparent 78%, rgba(0, 0, 255, 0.543) 85%, transparent 87%, transparent 100%);
  }

  85% {
    background: linear-gradient(transparent 83%, rgba(0, 0, 255, 0.543) 90%, transparent 92%, transparent 100%);
  }

  90% {
    background: linear-gradient(transparent 88%, rgba(0, 0, 255, 0.543) 95%, transparent 97%, transparent 100%);
  }

  95% {
    background: linear-gradient(transparent 93%, rgba(0, 0, 255, 0.543) 100%);
  }

  100% {
    background: linear-gradient(transparent 100%, rgba(0, 0, 255, 0.543));
  }

}


@keyframes test {
  0% {

    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  20% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  30% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  40% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  50% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  60% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  70% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  80% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  90% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

  100% {
    border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
  }

}


form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 50%;

  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px #00000021;
  border-radius: 15px;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    height: 80px;
    width: 80%;


    & input {
      display: flex;
      justify-content: center;
      align-items: center;


      background: rgba(179, 179, 246, 0.217);
      border-radius: 5px;

      height: 2em;
      width: 100%;
    }
  }

  & #submit-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;

    & input {
      cursor: pointer;

      border-image-source: linear-gradient(10deg, #08a4f3 0%, #08da2f 100%);
      border-image-slice: 1;
      border-width: 5px;
      border-style: solid;
    }

    & input:hover {
      animation: test 2s linear infinite;

    }

    & input:active {
      transform: scale(0.9);
    }
  }
}

form::after {
  position: absolute;
  content: "";
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: 2px 2px 2px 2px #0000000d;
}